<h1 class="trucks-h1">Welcome {{user.username}}</h1>
<h1 class="trucks-h1">Your Trucks</h1>

{{!-- need to add the trucks list name from auth.js and the data to show --}}
{{!-- delete this link and link each truck individually after adding the above --}}
{{!-- link the truck to the truck id once set up --}}
<div class="trucks-container">
{{#each trucks}}

<div class="truck-list">
  <h2>{{name}}</h2>
  <img class="img-truck-pro" src="{{image}}" alt="yummy food">
  <a href="/{{_id}}/truck"><button class="details">Details</button></a>
</div>

{{/each}}
</div>