<h2>Truck profile</h2>
<h2>Welcome {{user.username}}</h2>
<h2>Your Trucks</h2>

{{!-- need to add the trucks list name from auth.js and the data to show --}}
{{!-- delete this link and link each truck individually after adding the above --}}
{{!-- link the truck to the truck id once set up --}}

{{#each trucks}}
<div class="truck-list">
  <p>{{name}}</p>
  <img src="{{image}}" alt="yummy food">
  <a href="/auth/{{_id}}/truck"><button>Details</button></a>
</div>
{{/each}}