<h1>Find a Foodtruck!</h1>

<h1>Welcome {{user.username}}</h1>

<a href="/auth/userprofile/{{user._id}}/delete"><button>Delete Your Account</button></a>

<div id='map' style='width: 800px; height: 600px;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibWFwYm94cHJvamVjdCIsImEiOiJjazJ6eXNqcWIwajd4M21zMDlxamdxYTZpIn0.2yA5cyZqIRxwYPwxku-tUQ';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [13.40, 52.52],
    zoom: 12

  });

  map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
    },
    trackUserLocation: true
  }));



  const getMarkers = () => {

    axios.get('/api/findtrucks').then(response => {

      const coordinates = response.data.map(x => {
        return x.locations;
      })

      console.log(response.data)

      response.data.forEach(x => {
        new mapboxgl.Marker().setLngLat(x.locations)
          .setPopup(new mapboxgl.Popup({ offset: 25, closeOnClick: true }) // add popups
            .setHTML('<a href=/auth/' + x._id + '/truck><h3>' + x.name + '</h3></a><p>' + x.cuisine + '</p>'))
          .addTo(map);
      })

    }).catch(err => {
      console.log(err)
    })
  }
  getMarkers();



</script>

{{!-- response.forEach(truck => {
        const coordinates = truck.locations;
        new mapboxgl.Marker().setLngLat(coordinates).addTo(map)
      }) --}}