<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://use.typekit.net/ehk6izm.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  {{!-- mapbox CDN --}}
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  {{!-- axios CDN --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  <style>

  </style>
</head>

<body>
  <div class="everything">
    <nav>

      <div class="navbar">
        <a href="/">Home</a>

        {{#if user.truck}}
        <a href="/add-a-truck">Add a Truck</a>
        <a href="/userprofile">Profile</a>
        {{/if}}

        {{#if loggedIn}}
        <a href="/auth/logout">Logout</a>
        {{/if}}
        {{#if loggedOut}}
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Sign Up</a>
        {{/if}}


      </div>
    </nav>



    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </div>
</body>

</html>