* {
  margin: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60");
  background-repeat: space;
  font-family: niveau-grotesk, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  background-size: 100%;
  background-attachment: fixed; }

a {
  color: #00B7FF; }

.left a {
  padding-right: 2vw; }

.mapboxgl-popup {
  width: 20%;
  text-align: center;
  color: #e66558; }

#like {
  height: 8vh; }

.marker-favorite {
  background-image: url("https://icon-library.net/images/facebook-love-icon-png/facebook-love-icon-png-21.jpg");
  background-size: cover;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer; }

.marker {
  background-image: url("https://www.sccpre.cat/mypng/full/0-8972_hexagym-yellow-map-marker-png.png");
  background-size: cover;
  width: 25px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer; }

.hidden {
  display: none; }

.delete-button {
  background: none;
  border: none;
  font-size: 1.5vw;
  color: #6ec5ae;
  outline: none;
  font-weight: bold; }

.account-deletion {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#map {
  width: 100%;
  height: 400px;
  margin-top: 4%; }

h1 {
  color: #4b1c1e;
  padding-top: 2%;
  padding-bottom: 4%;
  font-size: 6vw; }

h2 {
  font-size: 3vw;
  color: #4b1c1e; }

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 7vh;
  background-color: #fafafa; }

.home {
  padding-left: 2vw; }

.log a {
  padding-right: 2vw; }

.navbar a {
  color: #c9d3da;
  text-decoration: none;
  font-size: 2.5vw; }

.main {
  margin-top: 7vh; }

.img-truck-pro {
  width: 30vw;
  height: 30vw;
  object-fit: scale-down;
  position: relative; }

.trucks-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2vh 4vw;
  justify-content: center; }

.truck-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2vh 4vw;
  padding: 2vh 2vw;
  text-align: center;
  background: rgba(250, 250, 250, 0.5);
  border-radius: 30px; }

.truck-list h2 {
  font-size: 3vw;
  width: 30vw;
  color: #4b1c1e; }

.trucks-h1 {
  font-size: 6vw;
  text-align: center;
  color: #4b1c1e; }

.trucks-h2 {
  font-size: 4vw;
  text-align: center;
  color: #4b1c1e; }

.details {
  background: none;
  border: none;
  font-size: 2.5vw;
  color: #4b1c1e;
  outline: none;
  font-weight: bold; }

.trucks-h1 {
  font-size: 4vw; }

.edit-truck {
  background: none;
  border: none;
  font-size: 2vw;
  color: #6ec5ae;
  outline: none;
  font-weight: bold;
  padding: 0vh 2vw; }

.btn-container button {
  border: none;
  background: none;
  outline: none;
  position: absolute;
  top: 10vh;
  left: 80vw; }

.truck-container {
  display: flex;
  justify-content: center;
  margin: 2vh 4vw;
  padding: 2vh 2vw;
  text-align: center;
  background: rgba(250, 250, 250, 0.5);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 10vh 4vw;
  justify-content: center;
  text-align: center; }

.truck-detail {
  font-size: 3vw; }

.img-food {
  width: 80vw;
  height: 40vw;
  object-fit: scale-down;
  position: relative; }

.buttons {
  margin-top: 2vh; }

.info {
  margin-top: 2vh; }

.info p {
  padding-bottom: .2vh; }

.cuisine {
  font-size: 4vw; }

.hours {
  font-size: 2vw; }

.log-sign {
  font-size: 7vw;
  text-align: center;
  color: #4b1c1e; }

.login-signup-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.label {
  display: flex;
  flex-direction: column;
  width: 30vw; }

.label-truck {
  display: flex;
  flex: row;
  font-size: 3vw;
  justify-content: space-around;
  align-items: center;
  color: #4b1c1e; }

.label input {
  margin-top: 1vh;
  width: 30vw;
  height: 3vh; }

.label label {
  font-size: 3vw;
  color: #4b1c1e; }

.error-message {
  margin-top: 2vh;
  font-size: 3vw; }

.login-signin-button {
  background: none;
  border: none;
  font-size: 3vw;
  color: #6ec5ae;
  outline: none;
  font-weight: bold;
  padding-bottom: 2vh; }

.account-message {
  font-size: 1.5vw;
  margin-top: 2vh;
  text-decoration: none;
  color: #4b1c1e; }

.account-message a {
  text-decoration: none;
  color: #6ec5ae; }

.add-container {
  margin-top: 7vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.label-add {
  display: flex;
  flex-direction: column;
  width: 30vw; }

.adding-a-truck {
  font-size: 4vw;
  text-align: center;
  color: #4b1c1e; }

.btn-add-truck {
  background: none;
  border: none;
  font-size: 2vw;
  color: #6ec5ae;
  outline: none;
  font-weight: bold;
  padding: 1vh 0vw; }

.label-add label {
  font-size: 2.5vw;
  color: #4b1c1e;
  padding: 1vh 0vw; }

.label-add select {
  width: 30vw;
  height: 2.5vh; }

.label-add input {
  width: 30vw;
  height: 2.5vh; }

.label-add p {
  font-size: 2.5vw;
  color: #4b1c1e; }

.tags label {
  font-size: 1.8vw;
  color: #4b1c1e; }

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.tag {
  display: flex;
  flex: row;
  align-items: center; }

.edit-header {
  font-size: 4vw; }

.edit-container {
  margin-top: 7vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.btn-edit-truck {
  background: none;
  border: none;
  font-size: 2vw;
  color: #6ec5ae;
  outline: none;
  font-weight: bold;
  padding: 1vh 0vw; }

.label-edit {
  display: flex;
  flex-direction: column;
  width: 30vw; }

.label-edit label {
  font-size: 2.5vw;
  color: #4b1c1e;
  padding: 1vh 0vw; }

.label-edit p {
  font-size: 2.5vw;
  color: #4b1c1e;
  padding: 1vh 0vw; }

.label-edit input {
  width: 30vw;
  height: 2.5vh; }

/*# sourceMappingURL=style.css.map */